Repository input-output-hk/cardano-sl, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @akegalj, @domenkozar, @denisshevchenko, @volhovm, @flyingleafe, @pva701, @neongreen, @rockbmb, @dcoutts, @avieth

Update pkgs/hfsevents.nix and merge master
  pkgs/hfsevents.nix
Owners: @domenkozar

[CSM-376] Install `cardano-sl-wallet`
  appveyor.yml
Owners: @domenkozar

Generate pkgs/default.nix once again to include systemd
  pkgs/default.nix
  pkgs/hfsevents.nix
Owners: @domenkozar

Typo (ho-ho cardano-ho - oh my)
  appveyor.yml
Owners: @domenkozar

Second revision of the CBOR spec
  specs/CBOR_SETS.md
Owners: @denisshevchenko

Index offset fix
  specs/CBOR_SETS.md
Owners: @denisshevchenko

[CSM-237] Try to fix daedalus-bridge
  daedalus/src/Daedalus/Types.purs
Owners: @akegalj

Fix a small typo
  specs/CBOR_SETS.md
Owners: @denisshevchenko

Authors, plural
  specs/CBOR_SETS.md
Owners: @denisshevchenko

Align surnames vertically
  specs/CBOR_SETS.md
Owners: @denisshevchenko

CSE-200 Error when building frontend, fixed explorer lenses generation.
  explorer/frontend/package.json
  explorer/frontend/scripts/build.sh
  explorer/frontend/scripts/generate-explorer-lenses.sh
  explorer/frontend/yarn.lock
Owners: @gromakovsky

[CSL-1484] Add a tx duplicated inputs check
  test/Test/Pos/Txp/Toil/UtxoSpec.hs
  txp/Pos/Arbitrary/Txp.hs
  txp/Pos/Txp/Core/Types.hs
  txp/Pos/Txp/Toil/Utxo/Functions.hs
Owners: @rockbmb, @gromakovsky, @pva701, @neongreen

Fix launch/qa.sh script
  scripts/launch/qa.sh
Owners: @gromakovsky

Revert "Add `--init-delay` command line arg"
  src/Pos/Launcher/Param.hs
  src/Pos/Launcher/Resource.hs
  src/node/NodeOptions.hs
  src/node/Params.hs
Owners: @gromakovsky

[CSL-1351] Attempt to fix WorkerSpec
  test/Test/Pos/Lrc/WorkerSpec.hs
Owners: @rockbmb

[CSL-1351] Finally fix tests
  test/Test/Pos/Lrc/WorkerSpec.hs
Owners: @rockbmb

[CSL-1351] Cosmetics
  core/Pos/Arbitrary/Core.hs
  core/Pos/Core/Genesis.hs
  core/Pos/Core/Genesis/Types.hs
  src/Pos/Client/Txp/Util.hs
  src/Pos/Genesis.hs
  test/Test/Pos/Block/Logic/Mode.hs
  test/Test/Pos/Lrc/WorkerSpec.hs
Owners: @gromakovsky, @rockbmb

CSL-1247 Ignoring failing tests.
  default.nix
Owners: @domenkozar

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                              @gromakovsky

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies .purs files, only
# @akegalj will be requested for a review. Same for all other entries below.

*.purs                         @akegalj
daedalus/                      @akegalj

# CI, Nix
*.nix                          @domenkozar
.travis.yml                    @domenkozar
appveyor.yml                   @domenkozar
nixpkgs-src.json               @domenkozar
pkgs/generate.sh               @domenkozar

# Documentation
*.md                           @denisshevchenko

Delegation/                    @volhovm

Wallet/                        @akegalj @flyingleafe

txp/                           @gromakovsky @pva701 @neongreen
update/                        @gromakovsky @pva701
lrc/                           @pva701
godtossing/                    @neongreen

core/Pos/Binary/               @neongreen
core/Pos/Crypto/               @neongreen
core/Pos/Merkle.hs             @neongreen

core/Pos/Util/Config.hs        @neongreen
core/Pos/Util/Config/          @neongreen
src/Pos/CompileConfig/         @neongreen

scripts/build/cardano-sl.sh    @neongreen
HLint.hs                       @neongreen

test/                          @rockbmb
test/Test/Pos/Block/Logic/     @gromakovsky

# Networking
infra/Pos/Network              @dcoutts @avieth
infra/Pos/Subscription         @dcoutts @avieth
