Repository input-output-hk/cardano-sl, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @akegalj, @akegaljj, @sectore, @ksaric, @martoon, @domenkozar, @denisshevchenko, @volhovm, @flyingleafe, @pva701, @neongreen, @rockbmb, @dcoutts, @avieth, @kantp, @int-index, @georgeee

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

*.purs                          @akegalj
daedalus/                       @akegalj

# Explorer
explorer/                             @akegaljj
explorer/frontend/                    @sectore
explorer/src/                         @ksaric
explorer/src/Pos/Explorer/Socket/     @martoon
explorer/test/                        @ksaric

# CI, Nix
*.nix                           @domenkozar
.travis.yml                     @domenkozar
appveyor.yml                    @domenkozar
nixpkgs-src.json                @domenkozar
pkgs/generate.sh                @domenkozar

# Documentation
*.md                            @denisshevchenko

Delegation/                     @volhovm

Wallet/                         @akegalj @flyingleafe

txp/                            @gromakovsky @pva701 @neongreen
update/                         @gromakovsky @pva701
lrc/                            @pva701
ssc/                            @gromakovsky @neongreen

core/Pos/Binary/                @neongreen
core/Pos/Crypto/                @neongreen
core/Pos/Merkle.hs              @neongreen

core/Pos/Util/Config.hs         @neongreen
core/Pos/Util/Config/           @neongreen
lib/src/Pos/CompileConfig/      @neongreen

scripts/build/cardano-sl.sh     @neongreen
HLint.hs                        @neongreen

lib/test/                       @rockbmb
lib/test/Test/Pos/Block/Logic/  @gromakovsky

# Networking
infra/Pos/Network               @dcoutts @avieth
infra/Pos/Subscription          @dcoutts @avieth

# Benchmarks
scripts/bench                   @kantp @avieth

# Wallet
wallet/src                      @martoon @flyingleafe @akegalj
wallet/purescript               @akegalj
wallet/web-api-swagger          @martoon

## Auxx
auxx                            @int-index

genesis-info/                   @georgeee

[CSL-1840] Add devnet configuration key
  node/configuration.yaml
Owners: @gromakovsky

[CSL-1807] Extend cardano-keygen to dump delegation issuers' keys
  tools/src/keygen/Dump.hs
Owners: @gromakovsky

[CSL-1807] Conditionally dump genesis data in pretty format, not canonical
  core/Pos/Core/Configuration.hs
  lib/src/Pos/Client/CLI/Util.hs
  node/Main.hs
  tools/src/keygen/KeygenOptions.hs
  tools/src/keygen/Main.hs
  wallet/node/Main.hs
Owners: @gromakovsky

[CSL-1807] Extend cardano-keygen with option to dump genesis json
  tools/src/keygen/KeygenOptions.hs
  tools/src/keygen/Main.hs
Owners: @gromakovsky

[CSL-1747] Use log-warper in the launcher (again) (#1840)
  node/src/Pos/Launcher/Configuration.hs
  pkgs/default.nix
  tools/cardano-sl-tools.cabal
  tools/src/launcher/Main.hs
Owners: @gromakovsky, @domenkozar

[CSL-1758] Track installed updates in MiscDB
  node/cardano-sl.cabal
  node/src/Pos/DB/Misc.hs
  node/src/Pos/Update/Download.hs
  tools/cardano-sl-tools.cabal
  tools/src/launcher/Main.hs
Owners: @gromakovsky

[CSM-515] Rename CAccModifier to WalletModifier
  wallet/src/Pos/Wallet/Web/Methods/Logic.hs
  wallet/src/Pos/Wallet/Web/Tracking/BListener.hs
  wallet/src/Pos/Wallet/Web/Tracking/Modifier.hs
  wallet/src/Pos/Wallet/Web/Tracking/Sync.hs
  wallet/test/Test/Pos/Wallet/Web/Methods/PaymentSpec.hs
Owners: @martoon, @flyingleafe, @akegalj

[CSM-515] Use modifier for history entries instead of DList
  wallet/src/Pos/Wallet/Web/State/State.hs
  wallet/src/Pos/Wallet/Web/Tracking/BListener.hs
  wallet/src/Pos/Wallet/Web/Tracking/Modifier.hs
  wallet/src/Pos/Wallet/Web/Tracking/Sync.hs
Owners: @martoon, @flyingleafe, @akegalj

[CSM-515] Do application and rollback of modifier atomically
  lib/src/Pos/SafeCopy.hs
  wallet/src/Pos/Wallet/Web/State/Acidic.hs
  wallet/src/Pos/Wallet/Web/State/State.hs
  wallet/src/Pos/Wallet/Web/State/Storage.hs
  wallet/src/Pos/Wallet/Web/Tracking/BListener.hs
  wallet/src/Pos/Wallet/Web/Tracking/Sync.hs
Owners: @gromakovsky, @martoon, @flyingleafe, @akegalj

[CSM-515] Define StorageModifier
  wallet/cardano-sl-wallet.cabal
  wallet/src/Pos/Wallet/Web/State/Memory/Types.hs
Owners: @gromakovsky, @martoon, @flyingleafe, @akegalj

[CSL-1793] Abstract tx creation from input picking strategy
  node/src/Pos/Client/Txp/Util.hs
Owners: @gromakovsky

[CSM-550] Fix default.nix
  pkgs/default.nix
Owners: @domenkozar

[CSL-1798] Move Pos.Binary.Update to Pos.Binary.Core.Update
  core/Pos/Binary/Core/Update.hs
  core/cardano-sl-core.cabal
  update/Pos/Binary/Update.hs
Owners: @neongreen, @gromakovsky, @pva701

Hook old startup routine into the prototype
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/server/Cardano/Wallet/CLI.hs
  wallet-new/server/Cardano/Wallet/Server.hs
  wallet-new/server/Cardano/Wallet/Server/CLI.hs
  wallet-new/server/Cardano/Wallet/Server/Plugins.hs
  wallet-new/server/Main.hs
  wallet/src/Pos/Wallet/Web/Server/Runner.hs
Owners: @gromakovsky, @akegalj, @flyingleafe, @martoon

Change default db path for wallet-new
  .gitignore
  wallet-new/server/Cardano/Wallet/Server/CLI.hs
  wallet-new/spec/swagger.json
Owners: @gromakovsky, @akegalj, @flyingleafe

Merge master
  wallet-new/server/Main.hs
Owners: @gromakovsky

Fix pkgs/default.nix
  pkgs/default.nix
Owners: @domenkozar

Update OpenSSL
  appveyor.yml
Owners: @domenkozar

[CSL-1793] Specify tx inputs grouping in endpoint
  daedalus/src/Daedalus/BackendApi.purs
  daedalus/src/Daedalus/ClientApi.purs
  daedalus/src/Daedalus/Types.purs
  node/src/Pos/Client/Txp/Util.hs
  node/src/Pos/Communication/Tx.hs
  node/src/Pos/Generator/Block/Payload.hs
  node/src/Pos/Util/Servant.hs
  node/test/Test/Pos/Client/Txp/UtilSpec.hs
  wallet/cardano-sl-wallet.cabal
  wallet/purescript/Main.hs
  wallet/src/Pos/Aeson/ClientTypes.hs
  wallet/src/Pos/Aeson/Options.hs
  wallet/src/Pos/Wallet/Web/Api.hs
  wallet/src/Pos/Wallet/Web/Methods/Payment.hs
  wallet/src/Pos/Wallet/Web/Methods/Restore.hs
  wallet/src/Pos/Wallet/Web/Swagger/Instances/Schema.hs
Owners: @akegalj, @gromakovsky, @martoon, @flyingleafe

Update OpenSSL
  appveyor.yml
Owners: @domenkozar

[CSL-1399] Rewrite interface once again
  core/Pos/Arbitrary/Crypto/Unsafe.hs
  core/Pos/Binary/Class/Primitive.hs
  infra/Pos/DHT/Real/Types.hs
  lib/test/Test/Pos/Cbor/CborSpec.hs
  lib/test/Test/Pos/Helpers.hs
Owners: @gromakovsky, @neongreen, @rockbmb

[CSL-1399] Use nocheck deserialization in db
  db/Pos/DB/Functions.hs
  lib/src/Pos/DB/Block.hs
Owners: @gromakovsky

[CSL-1399] Introduce readert-based Bi Decoder
  core/Pos/Binary/Class/Core.hs
  core/Pos/Binary/Class/Primitive.hs
  core/Pos/Binary/Class/TH.hs
  core/Pos/Binary/Core/Block.hs
  infra/Pos/Communication/BiP.hs
  lib/test/Test/Pos/Cbor/CborSpec.hs
Owners: @neongreen, @gromakovsky, @rockbmb

[CSL-1399] Introduce deserializeOrFailNoCheck
  core/Pos/Arbitrary/Crypto/Unsafe.hs
  core/Pos/Binary/Class/Core.hs
  core/Pos/Binary/Class/Primitive.hs
  core/Pos/Binary/Core/Block.hs
  infra/Pos/DHT/Real/Types.hs
  lib/test/Test/Pos/Cbor/CborSpec.hs
  lib/test/Test/Pos/Helpers.hs
Owners: @gromakovsky, @neongreen, @rockbmb

[CSL-1399] Move block serialization bench to other benches
  bench/Serialization/Block.hs
  lib/bench/Bench/Pos/Criterion/BlockSerialization.hs
  lib/bench/Bench/Pos/Criterion/FollowTheSatoshi.hs
  lib/bench/Bench/Pos/Criterion/TxSigning.hs
  lib/bench/Local/Criterion.hs
  lib/cardano-sl.cabal
  lib/src/Pos/Arbitrary/Block.hs
Owners: @gromakovsky

[CSL-1399] Fixes, use dcNoCheck in some other places
  core/Pos/Binary/Class/Core.hs
  core/Pos/Core/Vss.hs
  infra/Pos/Communication/BiP.hs
  lib/bench/Local/Criterion.hs
  lib/src/Pos/Binary/Relay.hs
Owners: @neongreen, @gromakovsky

[CSL-1399] Refactor lib/Binary
  core/Pos/Core/Block.hs
  lib/src/Pos/Binary/Block/Core.hs
  lib/src/Pos/Binary/Communication.hs
  lib/src/Pos/Binary/Delegation.hs
  lib/src/Pos/Binary/Relay.hs
  lib/src/Pos/Binary/Txp/Network.hs
Owners: @gromakovsky

[CSL-1399] Update binary infra/txp
  infra/Pos/Binary/Infra/DHTModel.hs
  infra/Pos/Binary/Infra/Relay.hs
  infra/Pos/Binary/Infra/Slotting.hs
  txp/Pos/Binary/Txp/Core.hs
Owners: @gromakovsky, @pva701, @neongreen

[CSL-1399] Figure out mess in gt/update binary
  ssc/Pos/Binary/Ssc/Core.hs
  ssc/Pos/Binary/Ssc/Relay.hs
  update/Pos/Binary/Update.hs
  update/Pos/Update/Core/Types.hs
Owners: @gromakovsky, @neongreen, @pva701

[CSL-1399] [CSL-1395] block decode bench
  bench/Serialization/Block.hs
Owners: @gromakovsky

[CSL-1399] Cosmetics
  db/Pos/DB/GState/Common.hs
Owners: @gromakovsky

[CSL-1399] Apply neongreen's suggestions
  core/Pos/Binary/Class/Core.hs
  core/Pos/Binary/Class/Primitive.hs
  core/Pos/Binary/Core/Block.hs
  core/Pos/Binary/Core/Coin.hs
  core/Pos/Binary/Core/Types.hs
  infra/Pos/Binary/Infra/Slotting.hs
  lib/src/Pos/Binary/Delegation.hs
  lib/test/Test/Pos/Cbor/CborSpec.hs
  ssc/Pos/Binary/Ssc/Core.hs
  txp/Pos/Binary/Txp/Core.hs
  update/Pos/Binary/Update.hs
Owners: @neongreen, @gromakovsky, @rockbmb, @pva701

[CSL-1399] Fix hlint/bump default.nix
  lib/bench/Bench/Pos/Criterion/BlockSerialization.hs
Owners: @gromakovsky

[CSL-1399] Fix bad codestyle in cbor reference implementation
  lib/cardano-sl.cabal
  lib/test/Test/Pos/Cbor/Canonicity.hs
  lib/test/Test/Pos/Cbor/CborSpec.hs
  lib/test/Test/Pos/Cbor/RefImpl.hs
  lib/test/Test/Pos/Helpers.hs
Owners: @gromakovsky, @rockbmb

[CSL-1399] Figure out the mess in core binary
  core/Pos/Binary/Class/Numbers.hs
  core/Pos/Binary/Core/Coin.hs
  core/Pos/Binary/Core/Fee.hs
  core/Pos/Binary/Core/Script.hs
  core/Pos/Binary/Core/Types.hs
  core/Pos/Binary/Core/Version.hs
  core/Pos/Binary/Crypto.hs
  core/Pos/Core/Slotting.hs
  core/Pos/Core/Types.hs
Owners: @neongreen, @gromakovsky

[CSL-1775] Remove empty 'txpWorkers'
  lib/cardano-sl.cabal
  lib/src/Pos/Txp/Worker.hs
  lib/src/Pos/Worker.hs
Owners: @gromakovsky

[CSL-1775] Regenerate default.nix
  pkgs/default.nix
Owners: @domenkozar

[CSL-1775] Move the rest of Txp into txp/
  auxx/cardano-sl-auxx.cabal
  auxx/src/Plugin.hs
  explorer/cardano-sl-explorer.cabal
  lib/cardano-sl.cabal
  lib/src/Pos/Binary/Txp.hs
  lib/src/Pos/Communication/Server.hs
  lib/src/Pos/Txp.hs
  lib/src/Pos/Txp/Network/Listeners.hs
  lib/src/Pos/Util/JsonLog.hs
  lib/src/Pos/Worker.hs
  txp/Pos/Arbitrary/Txp/Network.hs
  txp/Pos/Binary/Txp.hs
  txp/Pos/Binary/Txp/Network.hs
  txp/Pos/Txp.hs
  txp/Pos/Txp/Network.hs
  txp/Pos/Txp/Network/Listeners.hs
  txp/Pos/Txp/Network/Types.hs
  txp/cardano-sl-txp.cabal
Owners: @int-index, @akegaljj, @gromakovsky, @pva701, @neongreen

[CSM-552] Make js version of purescripts isValidPaperVendRedemptionKey function
  daedalus/src/redemption_key_validation.js
Owners: @akegalj

Update OpenSSL
  appveyor.yml
Owners: @domenkozar
