Repository input-output-hk/cardano-sl, changes with the owners that CODEOWNERS names for each.
All owners: @erikd, @akegalj, @sectore, @ksaric, @iohk-devops, @ignore-autogenerated-file, @adinapoli-iohk, @parsonsmatt, @vincenthz, @dcoutts, @avieth, @kantp, @denisshevchenko

CODEOWNERS:

# Unless a later match takes precedence, @erikd will be requested
# for review when someone opens a pull request. Anybody who would
# like to be added as a reviewer should feel free to add themselves
# below.

*                               @erikd

# Order is important; the last matching pattern takes the most precedence.

*.purs                          @akegalj

# Explorer
explorer/                             @akegalj
explorer/frontend/                    @sectore
explorer/src/                         @ksaric
explorer/test/                        @ksaric

# CI, Nix
*.nix                           @iohk-devops
appveyor.yml                    @iohk-devops
nixpkgs-src.json                @iohk-devops
pkgs/generate.sh                @iohk-devops
pkgs/default.nix                @ignore-autogenerated-file
scripts/ci/                     @iohk-devops
.buildkite/                     @iohk-devops
scripts/set_nixpath.sh          @iohk-devops

# Core components not included in the catch all above.
delegation/                     @akegalj
txp/                            @erikd
update/                         @adinapoli-iohk @parsonsmatt
lrc/                            @akegalj
ssc/                            @parsonsmatt
lib/test/                       @erikd
crypto/                         @vincenthz

# Networking
infra/Pos/Network               @dcoutts @avieth
infra/Pos/Subscription          @dcoutts @avieth
networking/                     @dcoutts @avieth

# Benchmarks
scripts/bench                   @kantp @avieth

# Wallet
wallet/                         @adinapoli-iohk @akegalj
wallet/web-api-swagger          @adinapoli-iohk
wallet-new/                     @adinapoli-iohk @parsonsmatt @denisshevchenko

Groom .editorconfig structure
  .editorconfig
Owners: @erikd

[DEVOPS-720] fix nix2 on cardano
  fetch-nixpkgs.nix
Owners: @iohk-devops

[DEVOPS-720] fix nix2 on cardano (#2842)
  fetch-nixpkgs.nix
Owners: @iohk-devops

[DEVOPS-798] Demo Cluster Wallet integration tests
  .gitignore
  default.nix
  release.nix
  scripts/common-functions.sh
  scripts/launch/connect-to-cluster/default.nix
  scripts/launch/demo-cluster/default.nix
  scripts/launch/demo.sh
  scripts/test/wallet/integration/build-test.nix
  scripts/test/wallet/integration/default.nix
Owners: @erikd, @iohk-devops, @adinapoli-iohk, @akegalj

[PB-12] Beautify
  infra/Pos/StateLock.hs
Owners: @erikd

[DEVOPS-720] fix nix2 on cardano (#2842)
  fetch-nixpkgs.nix
Owners: @iohk-devops

Remove comment on unclear section.
  docs/rules/rules.tex
Owners: @erikd

[CBR-190] Remove address balance from wallets' addresses
  wallet-new/integration/Error.hs
  wallet-new/integration/Functions.hs
  wallet-new/src/Cardano/Wallet/API/V1/Migration/Types.hs
  wallet-new/src/Cardano/Wallet/API/V1/Types.hs
Owners: @adinapoli-iohk, @parsonsmatt, @denisshevchenko

[CDEC-222] A specification of dynamic epoch length
  docs/rules/rules.tex
Owners: @erikd

nixpkgs-src.json update
  nixpkgs-src.json
Owners: @iohk-devops

update nixpkgs-src to 17.09
  nixpkgs-src.json
Owners: @iohk-devops

pkgs/default.nix
  pkgs/default.nix
  stack.yaml
Owners: @ignore-autogenerated-file, @erikd

use Text in auxx lexer, fix failing test
  auxx/src/Command/TyProjection.hs
  auxx/src/Lang/Lexer.hs
  auxx/src/Lang/Syntax.hs
  auxx/src/Lang/Value.hs
  auxx/test/Test/Auxx/Lang/ArgumentSpec.hs
  auxx/test/Test/Auxx/Lang/LexerSpec.hs
Owners: @erikd

remove duplicate import
  wallet-new/test/unit/UTxO/Interpreter.hs
Owners: @adinapoli-iohk, @parsonsmatt, @denisshevchenko

ignore silly HLint rule (Use toText)
  auxx/src/Lang/Lexer.hs
Owners: @erikd

fix tests and benchmarks
  lib/test/Test/Pos/CryptoSpec.hs
  lib/test/Test/Pos/Ssc/SeedSpec.hs
  lib/test/Test/Pos/Ssc/VssCertDataSpec.hs
  lib/test/Test/Pos/Txp/Toil/UtxoSpec.hs
  wallet-new/bench/Client/Cardano/Wallet/Web/Run.hs
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/test/unit/UTxO/Interpreter.hs
Owners: @erikd, @adinapoli-iohk, @parsonsmatt, @denisshevchenko

review comments
  auxx/Main.hs
  auxx/src/Lang/Name.hs
Owners: @erikd

[CDEC-210] Replace richman terminology with bootstrap stakeholders
  docs/rules/rules.tex
Owners: @erikd
